{% extends 'base.html' %}
{% load static %}

{% load custom_tags %}

{% block content %}

<section class="tw-relative tw-w-full tw-bg-mt-yellow tw-px-4 tw-py-12 md:tw-py-16">
    <div class="tw-max-w-7xl tw-mx-auto tw-flex tw-flex-col md:tw-flex-row tw-items-center tw-gap-6 md:tw-gap-12">
        <!-- Image Container -->
        <div class="tw-w-full md:tw-w-1/2">
            <img src="your-image-url.png" alt="MetalTela Store" class="tw-w-full tw-rounded-lg tw-shadow-lg">
        </div>
        
        <!-- Text Container -->
        <div class="tw-w-full md:tw-w-1/2 tw-bg-blue-900 tw-p-6 md:tw-p-10 tw-rounded-lg tw-text-white tw-text-center md:tw-text-left">
            <h2 class="tw-text-2xl md:tw-text-4xl tw-font-bold tw-leading-tight">
                MALLAS ZARANDAS Y MUCHO MÁS EN EL <span class="tw-text-yellow-400">PARQUE INDUSTRIAL</span>
            </h2>
        </div>
    </div>
</section>
    
{% endblock content %}

{% block scripts %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/11.0.5/swiper-bundle.min.js" integrity="sha512-Ysw1DcK1P+uYLqprEAzNQJP+J4hTx4t/3X2nbVwszao8wD+9afLjBQYjz7Uk4ADP+Er++mJoScI42ueGtQOzEA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/11.0.5/swiper-bundle.min.css" integrity="sha512-rd0qOHVMOcez6pLWPVFIv7EfSdGKLt+eafXh4RO/12Fgr41hDQxfGvoi1Vy55QIVcQEujUE1LQrATCLl2Fs+ag==" crossorigin="anonymous" referrerpolicy="no-referrer" />


    <script src="{% static "./js/home.js" %}"></script>

{% endblock scripts %}