{% extends 'base.html' %}
{% load static %}

{% load custom_tags %}

{% block content %}

<section class="tw-relative tw-w-full tw-min-h-screen tw-bg-mt-yellow">
    <div class="tw-mx-auto tw-flex tw-flex-col md:tw-flex-row tw-items-center tw-gap-6 md:tw-gap-12">
        <!-- Image Container -->
        <div class="tw-w-full md:tw-w-1/2">
            <img src="{% static './assets/images/home/mt-home-tienda.jpeg' %}" alt="MetalTela Tienda" class="tw-w-full tw-h-full">
        </div>
        
        <!-- Text Container -->
        <div class="tw-w-[90%] md:tw-w-1/2 tw-bg-mt-blue tw-p-6 md:tw-p-10 tw-rounded-3xl md:tw-rounded-[50px] tw-text-white tw-text-right md:tw-text-right tw-relative md:tw--ml-20 tw--mt-20 md:tw-mt-0">
            <h2 class="tw-text-4xl lg:tw-text-8xl md:tw-text-6xl tw-font-bold">
            MALLAS ZARANDAS Y MUCHO MÁS EN EL <span class="tw-text-mt-yellow">PARQUE INDUSTRIAL</span>
            </h2>
        </div>
    </div>
</section>

<section class="tw-w-full tw-bg-mt-blue tw-text-white tw-py-12">
    <div class="tw-container tw-mx-auto tw-text-center">
        <h2 class="tw-text-3xl lg:tw-text-5xl tw-font-bold tw-mb-8">CONOCE NUESTROS PRODUCTOS</h2>
        <div class="tw-carousel-container">
            <!-- Carousel will be added here -->
            <div id="animation-carousel" class="tw-relative tw-w-full" data-carousel="slide">
                <!-- Carousel wrapper -->
                <div class="tw-relative tw-h-56 tw-overflow-hidden tw-rounded-lg md:tw-h-96">
                     <!-- Item 1 -->
                    <div class=" tw-duration-200 tw-ease-linear" data-carousel-item>
                        <img src="{% static './assets/images/home/mt-products-1.jpeg' %}" class="tw-absolute tw-block tw-w-full -tw-translate-x-1/2 -tw-translate-y-1/2 tw-top-1/2 tw-left-1/2" alt="...">
                    </div>
                    <!-- Item 2 -->
                    <div class=" tw-duration-200 tw-ease-linear" data-carousel-item>
                        <img src="{% static './assets/images/home/mt-products-1.jpeg' %}" class="tw-absolute tw-block tw-w-full -tw-translate-x-1/2 -tw-translate-y-1/2 tw-top-1/2 tw-left-1/2" alt="...">
                    </div>
                    <!-- Item 3 -->
                    <div class=" tw-duration-200 tw-ease-linear" data-carousel-item="active">
                        <img src="{% static './assets/images/home/mt-products-1.jpeg' %}" class="tw-absolute tw-block tw-w-full -tw-translate-x-1/2 -tw-translate-y-1/2 tw-top-1/2 tw-left-1/2" alt="...">
                    </div>
                    <!-- Item 4 -->
                    <div class="tw-hidden tw-duration-200 tw-ease-linear" data-carousel-item>
                        <img src="{% static './assets/images/home/mt-products-1.jpeg' %}" class="tw-absolute tw-block tw-w-full -tw-translate-x-1/2 -tw-translate-y-1/2 tw-top-1/2 tw-left-1/2" alt="...">
                    </div>
                    <!-- Item 5 -->
                    <div class="tw-hidden tw-duration-200 tw-ease-linear" data-carousel-item>
                        <img src="{% static './assets/images/home/mt-products-1.jpeg' %}" class="tw-absolute tw-block tw-w-full -tw-translate-x-1/2 -tw-translate-y-1/2 tw-top-1/2 tw-left-1/2" alt="...">
                    </div>
                    <!-- Item 6 -->
                    <div class="tw-hidden tw-duration-200 tw-ease-linear" data-carousel-item>
                        <img src="{% static './assets/images/home/mt-products-1.jpeg' %}" class="tw-absolute tw-block tw-w-full -tw-translate-x-1/2 -tw-translate-y-1/2 tw-top-1/2 tw-left-1/2" alt="...">
                    </div>
                </div>
                
            </div>
        </div>
        <button class="tw-mt-8 tw-bg-mt-yellow tw-text-white tw-py-2 tw-px-6 tw-rounded-full">DESCARGAR CATÁLOGO</button>
    </div>
</section>
    
{% endblock content %}

{% block scripts %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/11.0.5/swiper-bundle.min.js" integrity="sha512-Ysw1DcK1P+uYLqprEAzNQJP+J4hTx4t/3X2nbVwszao8wD+9afLjBQYjz7Uk4ADP+Er++mJoScI42ueGtQOzEA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/11.0.5/swiper-bundle.min.css" integrity="sha512-rd0qOHVMOcez6pLWPVFIv7EfSdGKLt+eafXh4RO/12Fgr41hDQxfGvoi1Vy55QIVcQEujUE1LQrATCLl2Fs+ag==" crossorigin="anonymous" referrerpolicy="no-referrer" />


    <script src="{% static "./js/home.js" %}"></script>

    <script src="{% static 'flowbite/dist/flowbite.min.js' %}"></script>


{% endblock scripts %}